<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('./partials/head') %>
    </head>
<body>
    <%- include('./partials/script') %>
    <%- include('./partials/nav') %>
    <div class="container">
    <form class="mx-3 my-2" action="/user/signup" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="ProfileImg" class="form-label">Profile Img</label>
        <input type="file" class="form-control" name="ProfileImg" id="ProfileImg">
        
      </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="FullName" name="username" aria-describedby="emailHelp">
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1">
          <input type="checkbox" onclick="ShowPass()"> Show password

        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
</body>

<script>
   function ShowPass(){
    var x=document.getElementById('exampleInputPassword1');
    if(x.type==='password'?x.type="text":x.type="password");
   }
</script>
</html>